@mixin button {
	background-color: var(--c-link);
	color: var(--c-background);
	display: inline-block;
	padding: var(--space-xsmall) var(--space-medium);
	cursor: pointer;

	&:focus,
	&:hover {
		background-color: var(--c-link-hover);
		color: var(--c-background);
		text-decoration: none;
	}
}

@mixin wrapper {
	margin: 0 auto;
	padding: var(--space-large) var(--space-medium);
	width: clamp(20rem, 100%, 36em);

	@media #{$desktop} {
		padding: var(--space-large);
	}
}

@mixin full-bleed {
	background-color: var(--color-black);
	box-shadow: 0 12px 6px -9px var(--color-black);
	display: block;
	height: auto;
	margin: 3rem -3rem;
	width: calc(100% + 6rem);
}
