@mixin button {
	background-color: var(--c-link);
	color: var(--c-background);
	display: inline-block;
	padding: var(--space-xsmall) var(--space-medium);
	cursor: pointer;

	&:focus,
	&:hover {
		background-color: var(--c-link-hover);
		color: var(--c-background);
		text-decoration: none;
	}
}

@mixin wrapper {
	margin: 0 auto;
	padding: clamp(var(--space-medium), 5vw, 2rem);
	width: clamp(20rem, 100%, 36em);
}
