.article {
	padding-top: 1.5rem;
}

.article__featured-image {
	@include full-bleed;
	margin-top: 0;

	& img {
		display: block;
		height: auto;
		line-height: 1;
		width: 100%;
	}
}

.article__title {
	border-bottom: var(--border-hr);
	margin-bottom: 0.75rem;
	padding-bottom: 3rem;
}

.article__meta {
	align-items: center;
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	margin: 0 0 3rem;
}

.article__post-date {
	color: var(--color-venus);
	display: inline-block;
	font-weight: bold;
	line-height: calc(5/3);
	margin-right: 0.75rem;
}

.article__post-category {
	background-color: var(--c-highlight);
	border-radius: 0.25em;
	display: inline-block;
	font-size: 0.75em;
	line-height: 1;
	margin-right: 0;
	padding: 0.575em 0.75em 0.45em;
	text-transform: uppercase;
}

.article__content {
	font-size: 22px; // set clamp max font size to 22px
	margin-bottom: 2rem;

	& p {
		margin-bottom: 1.5rem;
	}

	& img,
	& iframe {
		@include full-bleed;
	}

	& iframe {
		aspect-ratio: 16 / 9;
	}

	// All code blocks.
	& .highlighter-rouge {
		background: var(--c-site-header);
		border-radius: 0.5rem;
		box-shadow: 0 0 3px -1px var(--c-text);
		font-size: 18px;
		padding: 4px 8px;
	}

	// Fenced code blocks.
	& > .highlighter-rouge {
		box-shadow: 0 0 3px -1px var(--c-text), 0 12px 6px -9px var(--color-black);
		margin: 3rem -1.5rem;
		padding: 1.5rem;
		width: calc(100% + 3rem);
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.article__footer-links {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.article__reply-link,
.article__home-link {
	@include button;
	margin-right: 0.75rem;
}
