.article__featured-image {
	@include full-bleed;
	width: var(--viewport-width);
	margin: -3rem calc(-1 * var(--space-large)) var(--space-medium);

	@media #{$desktop} {
		margin: 0 -3rem 3rem;
		width: calc(100% + var(--space-xlarge));
	}

	& img {
		display: block;
		height: auto;
		line-height: 1;
		width: 100%;
	}
}

.article__title {
	border-bottom: var(--border-layout);
	margin-bottom: var(--space-medium);
	padding-bottom: var(--space-medium);
}

.article__meta {
	align-items: center;
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	margin: 0 0 3rem;
}

.article__date {
	color: var(--color-venus);
	display: inline-block;
	font-weight: bold;
	line-height: calc(5/3);
	margin-right: 0.75rem;
}

.article__category {
	background-color: var(--c-highlight);
	border-radius: 0.25em;
	display: inline-block;
	font-size: 0.75em;
	line-height: 1;
	margin-right: 0;
	padding: 0.575em 0.75em 0.45em;
	text-transform: uppercase;
}

.article__content {
	padding-bottom: var(--space-large);
	border-bottom: var(--border-layout);
	margin-bottom: var(--space-large);

	& p {
		margin-bottom: var(--space-medium);
	}

	& img,
	& iframe {
		@include full-bleed;
		width: 100%;
		margin: var(--space-medium) auto;

		@media #{$desktop} {
			margin: var(--space-large) calc(-1 * var(--space-large));
			width: calc(100% + var(--space-xlarge));
		}
	}

	& iframe {
		aspect-ratio: 16 / 9;
	}

	// All code blocks.
	& .highlighter-rouge {
		background: var(--c-site-header);
		border-radius: var(--space-xsmall);
		box-shadow: 0 0 3px -1px var(--c-text);
		font-size: var(--fs-small);
		padding: 4px 8px;
	}

	// Fenced code blocks.
	& > .highlighter-rouge {
		box-shadow: 0 0 3px -1px var(--c-text), 0 12px 6px -9px var(--color-black);
		margin: var(--space-large) calc(-1 * var(--space-medium));
		padding: var(--space-medium);
		width: calc(100% + var(--space-large));
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.article__footer-links {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.article__reply-link,
.article__home-link {
	@include button;
	margin-right: var(--space-small);

	@media #{$desktop} {
		margin-right: var(--space-medium);
	}
}
