.social-link-item {
	margin: 0 0 0.75rem 0.7rem;

	&:first-child {
		margin-right: 0;
	}

	@media #{$desktop} {
		margin: 0 1.5rem 1.5rem;

		&:first-child {
			margin-right: 1.5rem;
		}
	}
}

.social-link-item__link {
	display: block;
	line-height: 1;
	color: var(--c-text);

	&:focus,
	&:hover {
		color: var(--c-link);
	}
}

.social-link-item svg {
	height: 1.5rem;
	width: 1.5rem;
	fill: currentColor;
}
