.post-list__title {
	border-bottom: var(--border-layout);
	margin-bottom: var(--space-medium);
	padding-bottom: var(--space-medium);
}

.post-list__posts-title {
	@include screen-reader-text;
}

.post-list__posts-list {
	list-style: none;
	margin: 0;
	padding: 0 0 var(--space-large);
}

.post-list__posts-item {
	margin-bottom: var(--space-large);

	&:last-child {
		margin-bottom: 0;
	}
}
